/* Estilo base */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Fondo claro característico de Neumorphism */
    color: #333; /* Texto en color oscuro para contraste */
  }
  
  /* Estilos para encabezados */
  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }
  
  /* Estilos para párrafos */
  p {
    line-height: 1.6;
  }
  
  /* Estilos para enlaces */
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para botones con efecto Neumorphism */
  button {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  }
  
  /* Estilos para divs con efecto Neumorphism */
  .dashboard-div  {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  }
  
  /* Estilos para formularios e inputs */
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    color: #333;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #e0e0e0;
    color: #333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  }
  